.hexagono {
  width: 200px; /* más estrecho */
  height: 100px; /* más fino */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: #f9f9f9;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.pregunta {
  width: 100%;
  font-size: 18px;
  background: var(--morado);
  color: white;
}

.seleccionado {
  background: #ffc400;
  color: black;
}

.correcto {
  background: green;
  color: white;
}

.incorrecto {
  background: crimson;
  color: white;
}
