:root {
  --morado: #6A1B9A;
  --morado-hover: #8E24AA;
  --gris-fondo: #e6e6e6;
  --texto: #222;
}

html, body, #root, .app-container {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--gris-fondo);
  color: var(--texto);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Flexbox para que header y footer estén fijos */
.app-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  margin-bottom: 50px;
  padding: 20px;
}
